@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;500;700&display=swap');
*{
    margin: 0;
    font-family: 'Work Sans';
   
    font-style: normal;
}

.banner {
    
    align-items: center;
    
}
img{
    height: 890px;
margin-top: -250px;
}
.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 184px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;

}
.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 443px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;

}

.btn-primary {
    position: absolute;
    width: 134px;
    height: 57px;
    left: 1235px;
    top: 548px;
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 18px;
    color: white;  
}
.about{
    background: #FFF8F3;
    border-radius: 50%;
    padding: 242px;
    text-align: center;
    width: 33px;
    margin-right: 89px;
    right: 88px;
    float: right;
    margin-right: 793px;
    margin-top: 225px;
    height: 38px;
  }
.about-image{
    position: absolute;
    width: 555px;
    height: 700px;
    left: 206px;
    top: 939px;

}

.info-title{
    position: absolute;
    width: 394px;
    height: 400px;
    left:855px;
    top: 972px;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Work Sans';
}
.info-description{
    position: absolute;
    width: 305px;
    height: -48px;
    left: 929px;
    top: 1085px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: #444343;
    text-align: left;
    
}
.list-item{
    position: absolute;
    width: 266px;
    height: 162px;
    left: 917px;
    top: 1192px;
    font-size: 12px;
    color: #444343;
    line-height: 33px;
    font-style: normal;
}
i{
   color: green;
}

  section{
    margin-top: 130px;
}
.my-plan{
    position: absolute;
width: 1141px;
height: 299.96px;
left: 237px;
top: 1465px;
text-align: center;
font-size: 32px;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skill img{
    height: 57px;
margin-bottom: -43px;
}
.skill-title{
position: absolute;
width: 299px;
height: 35px;
left: -113px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 35px;
text-align: center;
color: #151414;
margin-top: 34px;
}
.skill-description{
position: absolute;
width: 164px;
height: 29px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 29px;
text-align: center;
color: #737272;
right: 34px;
left: -52px;
top: 158px;
}
