@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;500;700&display=swap');
*{
    margin: 0;
    font-family: 'Work Sans';
   
    font-style: normal;
}

.banner {
    
    align-items: center;
    
}
img{
    height: 890px;
margin-top: -250px;
}
.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 184px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;

}
.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 443px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;

}

.btn-primary {
    position: absolute;
    width: 134px;
    height: 57px;
    left: 1235px;
    top: 548px;
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 18px;
    color: white;  
}
.about{
    background: #FFF8F3;
    border-radius: 50%;
    padding: 242px;
    text-align: center;
    width: 33px;
    margin-right: 89px;
    right: 88px;
    float: right;
    margin-right: 793px;
    margin-top: 235px;
    height: 25px;
  }
.about-image{
    position: absolute;
    width: 555px;
    height: 700px;
    left: 206px;
    top: 939px;

}

.info-title{
    position: absolute;
    width: 394px;
    height: 400px;
    left:855px;
    top: 972px;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Work Sans';
}
.info-description{
    position: absolute;
    width: 305px;
    height: -48px;
    left: 929px;
    top: 1085px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: #444343;
    text-align: left;
    
}
.list-item{
    position: absolute;
    width: 266px;
    height: 162px;
    left: 921px;
    top: 1192px;
    font-size: 12px;
    color: #444343;
    line-height: 33px;
    font-style: normal;
}
i{
   color: green;
}
.plan-title{
    position: absolute;
    width: -23px;
    height: 8px;
    left: 708px;
    top: 1621.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 45px;
    color: #151414;
    text-align: center;
    
}
.plan-image
{
    position: absolute;
    width: 63.96px;
    height: 62.96px;
    left: 381px;
    top: 1952px;

}
.plan-subtitle{
    position: absolute;
    width: 270px;
    height: 79.74px;
    left: 281px;
    top: 1769.26px;
    text-align: center;
    font-size: 23px;

}
.plan-description{
    position: absolute;
    width: 177px;
    height: 29px;
    left: 321px;
    top: 1797.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    text-align: center;
  
}
.plan-section{
    display: flex;
    gap: 24px;
}
.plan-image1{
    position: absolute;
width: 75.96px;
height: 62.96px;
left: 630px;
top:1952px;
}
.plan-subtitle-1{
    position: absolute;
    width: 270px;
    height: 79.74px;
    left: 528px;
    top: 1769.26px;
    text-align: center;
    font-size: 23px;

}
.plan-description-1{
    position: absolute;
    width: 177px;
    height: 29px;
    left: 570px;
    top: 1797.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    text-align: center;
  
}
.plan-image-3
{
    position: absolute;
    width: 63.96px;
    height: 62.96px;
    
    top: 1952px;
    right: 626px;

}
.plan-subtitle-3{
    position: absolute;
width: 270px;
height: 79.74px;
top: 1769.26px;
text-align: center;
font-size: 23px;
right: 525px;

}
.plan-description-3{
    position: absolute;
    width: 177px;
    height: 29px;
    left: 786px;
    top: 1797.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    text-align: center;
  
}
.plan-image-4
{
    position: absolute;
    width: 63.96px;
    height: 62.96px;
    top: 1952px;
    right: 407px;

}
.plan-subtitle-4{
    position: absolute;
    width: 270px;
    height: 79.74px;
    top: 1769.26px;
    text-align: center;
    font-size: 23px;
    right: 300px;

}
.plan-description-4{
    position: absolute;
width: 177px;
height: 29px;
left: 1008px;
top: 1797.3px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;
text-align: center;
color: #737272;
text-align: center;
  
}

/*grdiant */
#getstarted{
	background: url('../images/watch.png'); 
    background: url('../images/watch.png');
position: absolute;
width: 1140px;
height: 300px;
left: 230px;
top: 1882.26px;
}
.dark-overlay{
	background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;

}